.popup__input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 83.25%;
  max-width: 358px;
  max-height: 14px;
  margin: 0 auto 20px;
  padding: 10px 0 13px 0;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input:focus {
  outline-color: rgb(110, 80, 247);
}

@media screen and (max-width: 730px) {
  .popup__input {
    max-width: 238px;
  }
}