.popup__container {
  background-color: #FFFFFF;
  color: black;
  border-radius: 10px;
  margin: auto;
  width: 33.6%;
  max-width: 430px;
  min-width: 282px;
  height: 330px;
  position: fixed;
  left:50%;
  transform: translateX(-50%);
  top: 50%;
  bottom: 50%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}