.popup__save-button {
  background: #000000;
  border-radius: 2px;
  color: white;
  width: 83.25%;
  max-width: 358px;
  height: 50px;
  padding: 0;
  border: none;
  margin: 48px auto 36.5px;
}

.popup__save-button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.popup__save-button:focus {
  outline: none;
}

@media screen and (max-width: 730px) {
  .popup__save-button {
    margin: 45px 22px 25px;
    height: 46px;
  }
}