.footer {
  width: calc(100% - 298px);
  max-width: 882px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 66px;
}

@media screen and (max-width: 730px) {
  .footer {
    padding-top: 48px;
  }
}